body {
font-family: Optima; 
background-color: #cb7fff;
}
.title, .author, .date {
font-family: Helvetica;
font-weight: bold;
}
<!-- comment
body {
  background-image: url("images/turkey.png");
  background-repeat;
}
-->
